.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
  background-image: url("/images/bg.svg");
  background-size: 1700px auto;
  background-repeat: repeat;
  overflow: unset;
  position: relative;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 2rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  align-self: flex-start;
}

.navLink {
  text-decoration: none;
  color: inherit;
  text-transform: lowercase;
  letter-spacing: 0.25rem;
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
}

.navLink:hover {
  background-color: var(--primary-bg);
  border: 1px solid black;
  border-radius: 0;
}

.langSwitch {
  display: flex;
  gap: 0.5rem;
  margin-left: 2rem;
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  margin-bottom: 10rem;
  align-items: flex-end;
}

.contentWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carouselWrapper {
  margin-top: auto;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.topBanner {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 2rem;
}

.ctaButtons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: -1rem;
}

.ctaButton {
  transition: transform 0.2s ease;
}
/* this is for allignment reasons */

.ctaButton:nth-child(1) {
  /* move 10 px to the top */
  margin-top: -10px;
}

.ctaButton:hover {
  transform: scale(1.05);
}